html, body {
  background-color: #f5ffd8;
}
.container {
  width: 500px;
  height: 500px;
  border: solid;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.megacontainer {
 display: flex;
 flex-direction:row;
}


#box {
  background-color:#99FF99;
  padding: 15px; 
  margin: 10px 0px 0px 20px; 
  width: 95px; 
  height: 95px;
  animation: animacja 5s ease 2s infinite alternate none;  
  border-radius: 10px;
}

@keyframes animacja {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
  25%  {background-color: #99CCFF;}
  50%  {background-color: #FFCCCC;}
  75%  {background-color: #FFFF99;}
}

#box2 {
  background-color:#FF99FF;
  padding: 15px; 
  margin: 30px 0px 0px 20px; 
  width: 95px; 
  height: 95px;
  border-radius: 10px 0px;
  animation: animacja2 5s ease infinite alternate none;
  
}

@keyframes animacja2 {

  0%  {margin-left: 0%; background-color: #99CCFF;}
  25%  {margin-left: 5%; background-color: #99CCFF;}
  50%  {margin-left: 15%; background-color: #99CCFF;}
  75%  {margin-left: 30%; background-color: #FFCCCC;}
  100%  {margin-left: 60%; background-color: #FFFF99;}
}



.box3 {
  background-color:#FF99FF;
  padding: 15px; 
  margin: 10px 0px 0px 30px; 
  width: 95px; 
  height: 95px;
  border-radius: 10px 0px;
  align-self: flex-end;
  transition-property: width;
  transition-duration: 3s;
}

.box3:hover {
  width: 150px;
  background-color: #99CCFF;
}

.box4{
  background-color:#99FF99;
  padding: 15px; 
  margin: 100px; 
  width: 50px; 
  height: 50px; 
  border-radius: 10px;
  animation: animationExample linear 1s infinite;
  transform-origin: 50% 50%;
}

@keyframes animationExample{
  
  0%  {transform: rotate(1deg) scale(1.00) scaleY(1.00);}
  10%  {transform: rotate(-3deg) scale(0.80) scaleY(0.80);}
  20%  {transform: rotate(-3deg) scale(0.80) scaleY(0.80);}
  30%  {transform: rotate(-3deg) scale(1.20) scaleY(1.20);}
  40%  {transform: rotate(-3deg) scale(1.20) scaleY(1.20);}
  50%  {transform: rotate(3deg) scale(1.20) scaleY(1.20);}
  60%  {transform: rotate(-3deg) scale(1.20) scaleY(1.20);}
  70%  {transform: rotate(3deg) scale(1.20) scaleY(1.20);}
  80%  {transform: rotate(-3deg) scale(1.20) scaleY(1.20);}
  90%  {transform: rotate(3deg) scale(1.20) scaleY(1.20);}
  100%  {transform: rotate(0deg) scale(1.20) scaleY(1.20);}
}

.box5{
  background-color: #CD5C5C;
  padding: 15px;
  margin: 40px;
  width: 50px; 
  height: 50px; 
  border-radius: 40px;
  animation: animationFrames2 ease 2s infinite;
  //animation-iteration-count: 2;
}

@keyframes animationFrames2{
  0% {
  opacity: 0;
  transform: translate(-2500px,0px);
  }
  60% {
    opacity: 0.8;
    transform: translate(30px,0px);
  }
  
  80% {
    opacity: 1;
    transform: translate(-10px,0px);
  100% {
    opacity: 1;
    transform: translate(0px,0px);
    }  
  }
  
}

.box6{
  background-color:#99FF99;
  padding: 15px; 
  margin: 40px 0px 0px 100px; 
  width: 50px; 
  height: 50px; 
  border-radius: 10px;
  animation: animationFrames3 ease 2s infinite;
  
 
}
@keyframes animationFrames3{
  0% {
    opacity: 0;
    transform: translate(0px,0px) rotate(45deg);
  }
  60% {
    opacity: 1;
    transform: translate(30px,0px);
  }
  
  80% {
    transform:  translate(-10px,0px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}
